/* General styling */
html,
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #5B5B5B;
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.main-content {
  position: relative;
  top: 64px; /* to account for fixed header */
}

.small {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.float-right {
  width: 40%;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

/* header */
header {
  position: fixed;
  z-index: 100;
  height: 64px;
  background-color: white;
  border-bottom: 0.5px solid #D1CBCB;
  width: 100%;
  justify-content: space-between;
}

.logo-dark {
  color: #BF2F2F;
  font-weight: bold;
}

.logo-light {
  color: #D1CBCB;
  font-weight: normal;
}

header,
header a {
  color: #5B5B5B;
  text-decoration: none;
}

header img {
  height: 2rem;
  padding-left: 1.5rem;
}

nav li {
  display: inline;
  padding-left: 1rem;
}

nav li:last-child {
  padding-right: 1.5rem;
}

nav li a:hover {
  color: #BF2F2F;
  font-weight: bold;
}

.mobile-nav {
  display: none;
  padding-right: 1.5rem;
}

.mobile-nav a:active {
  position: relative;
  top: 2px;
  left: 2px;
}

@media only screen and (max-width: 760px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}

@media only screen and (max-width: 460px) {
  .logo span {
    display: none;
  }
}

/* banner */
.banner {
  background-color: #D1CBCB;
}

.banner-pic {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-pic img {
  width: 100%;
}

.banner h1 {
  color: #BF2F2F;
  line-height: 0.9;
}

a.button {
  background-color: #BF2F2F;
  color: #E9E6E6;
  opacity: 0.6;
  padding: 0.5rem;
  text-decoration: none;
  text-align: center;
  width: 90%;
  border-radius: 4px;
  transition: 500ms all ease-in-out;
}

a.button:hover {
  opacity: 1;
}

a.button:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.banner-content {
  flex-direction: column;
  align-items: flex-start;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 760px) {
  .banner {
    flex-direction: column;
    width: 100%;
  }

  .banner-pic {
    width: auto;
    margin: 0;
  }

  .banner-content {
    width: 100%;
  }

  .banner-content h1 {
    margin: 2rem 1rem;
  }

  .banner-content h3 {
    margin: 0rem 1rem 1.5rem 1rem;
  }

  .banner-content .button {
    margin: 0rem 1rem 2rem 1rem;
  }

  a.button {
    opacity: 1;
  }
}


/* articles section */
img.mobile {
  display: none;
}

.articles {
  align-items: flex-start;
}

.main-article {
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  padding: 2rem 1.5rem;
  border-right: 1px solid #E9E6E6;
}

.main-article img {
  width: 100%;
}

.main-article span {
  font-style: italic;
}

.side-articles {
  margin-top: 1rem;
  padding-right: 1rem;
}
.article {
  border-bottom: 1px solid #E9E6E6;
}

.article:hover {
  background-color: #E9E6E6;
}

.article a {
  color: #5B5B5B;
}

.article a:hover {
  font-weight: bold;
}

@media only screen and (max-width: 760px) {
  .main-article {
    display: none;
  }

  .side-articles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .small.desktop {
    display: none;
  }

  .article .mobile {
    display: block;
    width: 100%;
  }

  .article,
  .side-articles {
    border-style: none;
    margin: 1rem;
  }

  .article:hover {
    background-color: white;
  }
}

/* fields section */
.study {
  padding-top: 2rem;
  background-color: #E9E6E6;
}

.study h2 {
  margin-top: 0rem;
  margin-bottom: 2rem;
  color: #BF2F2F;
}

.fields {
  flex-wrap: wrap;
  margin: 0 4.5rem;
  justify-content: space-between;
  align-items: stretch;
}

.fields.mobile {
  display: none;
}

.fields.mobile a {
  color: #5B5B5B;
  text-decoration: none;
}

.field {
  margin: 0 0 2rem 0;
  max-width: 30%;
  background-color: white;
  border-radius: 4px;
}

.field:hover {
  box-shadow: 4px 4px #BF2F2F;
  position: relative;
  bottom: 2px;
  right: 2px;
}

.field img {
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.field h3 {
  margin: 1rem 1rem 0rem 1rem;
}

.field a {
  color: #5B5B5B;
  text-decoration: none;
}

.field a:hover {
  color: #BF2F2F;
}

.field p {
  margin: 0.5rem 1rem 1.5rem 1rem;
}

@media only screen and (max-width: 760px) {
  .study {
    background-color: white;
    border-top: 1px solid #E9E6E6;
    border-bottom: 1px solid #E9E6E6;
  }

  .study h2 {
    margin-bottom: 1rem;
  }

  .fields.desktop {
    display: none;
  }

  .fields.mobile {
    display: block;
    margin: 1rem 1rem 2rem 1rem;
  }

  .mobile h3 {
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: #E9E6E6;
    color: #5B5B5B;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  .mobile a:active {
    color: #BF2F2F;
  }
}

/* thesis section */
.thesis-exhibit h2 {
  color: #BF2F2F;
  }

.theses {
  align-items: flex-start;
}

.main-thesis {
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  margin: 2rem 1.5rem;
}

.main-thesis video {
  width: 100%;
}

.side-theses {
  margin-top: 2rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 760px) {
  .main-thesis {
    width: 100%;
    margin: 0 0 1.5rem 0;;
  }

  .thesis-exhibit h2 {
    margin-bottom: 1rem;
  }

  .main-thesis h3,
  .main-thesis p,
  .side-theses {
    display: none;
  }
}

/* footer section */
footer {
  padding: 1rem 0 2rem 1.5rem;
  border-top: 0.5px solid #E9E6E6;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer,
footer a {
  color: #D1CBCB;
  text-decoration: none;
}

footer ul {
  margin: 0;
}

@media only screen and (max-width: 760px) {
  footer nav {
    display: none;
  }

  footer {
    padding-top: 1.5rem;
    padding-bottom: 0;
  }

  footer span {
    margin: 1rem 0;
  }
}
