/* General styling */
html,
body {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.main-content {
  position: relative;
  top: 64px; /* to account for fixed header */
}

.small {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.float-right {
  width: 40%;
}

h2 {
  text-align: center;
  margin-top: 2rem;
}

.banner,
.study {
  background-color: lightgray;
}

/* header */
header {
  position: fixed;
  z-index: 100;
  height: 64px;
  background-color: white;
  border-bottom: 0.5px solid dimgray;
  width: 100%;
  justify-content: space-between;
}

.logo-dark {
  color: black;
  font-weight: bold;
}

.logo-light {
  color: gray;
  font-weight: normal;
}

header,
header a {
  color: darkgray;
  text-decoration: none;
}

header img {
  height: 2rem;
  padding-left: 1.5rem;
}

nav li {
  display: inline;
  padding-left: 1rem;
}

nav li:last-child {
  padding-right: 1.5rem;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 760px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}

@media only screen and (max-width: 460px) {
  .logo span {
    display: none;
  }
}

/* banner */
.banner-pic {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-pic img {
  width: 100%;
}

a.button {
  background-color: dimgray;
  color: lightgray;
  padding: 0.5rem;
  text-decoration: none;
  text-align: center;
  width: 90%;
}

.banner-content {
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 760px) {
  .banner {
    flex-direction: column;
    width: 100%;
  }

  .banner-pic {
    width: auto;
    margin: 0;
  }

  .banner-content {
    width: 100%;
  }

  .banner-content h1 {
    margin: 2rem 1rem;
  }

  .banner-content h3 {
    margin: 0rem 1rem 1.5rem 1rem;
  }

  .banner-content .button {
    margin: 0rem 1rem 2rem 1rem;
  }
}


/* articles section */
img.mobile {
  display: none;
}

.articles {
  align-items: flex-start;
}

.main-article {
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  padding: 2rem 1.5rem;
  border-right: 1px solid lightgray;
}

.main-article img {
  width: 100%;
}

.side-articles {
  margin-top: 1rem;
}
.article {
  border-bottom: 1px solid lightgray;
}

@media only screen and (max-width: 760px) {
  .main-article {
    display: none;
  }

  .side-articles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .small.desktop {
    display: none;
  }

  .article .mobile {
    display: block;
    width: 100%;
  }

  .article,
  .side-articles {
    border-style: none;
    margin: 1rem;
  }
}

/* fields section */
.study {
  padding-top: 2rem;
}

.study h2 {
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.fields {
  flex-wrap: wrap;
  margin: 0 4.5rem 0 4.5rem;
  justify-content: space-between;
  align-items: stretch;
}

.fields.mobile {
  display: none;
}

.fields.mobile a {
  color: dimgray;
  text-decoration: none;
}

.field {
  margin: 0 0 2rem 0;
  max-width: 30%;
  background-color: white;
}

.field img {
  width: 100%;
}

.field h3 {
  margin: 1rem 1rem 0rem 1rem;
}

.field p {
  margin: 0.5rem 1rem 1.5rem 1rem;
}

@media only screen and (max-width: 760px) {
  .study {
    background-color: white;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .study h2 {
    margin-bottom: 1rem;
  }

  .fields.desktop {
    display: none;
  }

  .fields.mobile {
    display: block;
    margin: 1rem 1rem 2rem 1rem;
  }

  .mobile h3 {
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: lightgray;
    color: dimgray;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
}

/* thesis section */
.theses {
  align-items: flex-start;
}

.main-thesis {
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  margin: 2rem 1.5rem;
}

.main-thesis video {
  width: 100%;
}

.side-theses {
  margin-top: 2rem;
}

@media only screen and (max-width: 760px) {
  .main-thesis {
    width: 100%;
    margin: 0 0 1.5rem 0;;
  }

  .thesis-exhibit h2 {
    margin-bottom: 1rem;
  }

  .main-thesis h3,
  .main-thesis p,
  .side-theses {
    display: none;
  }
}

/* footer section */
footer {
  padding: 1rem 0 2rem 1.5rem;
  border-top: 0.5px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer,
footer a {
  color: lightgray;
  text-decoration: none;
}

footer ul {
  margin: 0;
}

@media only screen and (max-width: 760px) {
  footer nav {
    display: none;
  }

  footer {
    padding-top: 1.5rem;
    padding-bottom: 0;
  }

  footer span {
    margin: 1rem 0;
  }
}
